body {
    background-color: #333;
    color: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    color: #ff6347;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  a {
    text-decoration: none;
    color: #50b3a2;
    font-size: 20px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  